# MongoDB Connection
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name
MONGO_URI_FALLBACK=mongodb://localhost:27017/german_bharatham

# JWT Secret for Authentication
JWT_SECRET=your_jwt_secret_key_here

# Server Port
PORT=5000
